.login form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login form input {
  width: 100%;
  height: 48px;
  outline: none;
}

form input:focus {
  border-color: var(--primary);
}

.login .primary-button {
  width: 100%;
  margin-top: 6px;
}

.login .secondary-button {
  font-size: 1em;
  margin-bottom: 8px;
}

.login .link {
  margin: 20px 0;
}
