#password-change h2 {
  margin: 14px 0 28px 0;
}

#password-change form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

#password-change form p {
  width: 100%;
}

#password-change form input {
  width: 100%;
  height: 40px;
}

#password-change button {
  width: 65%;
  margin: 16px 0 4px 0;
}
