{% extends 'base.html' %}
{% block body_class %}centered{% endblock %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'reviews/css/delete.css' %}" />
{% endblock %}

{% block content %}
<div id="delete" class="card">
  <h2>Suppression</h2>
  <p>
    Êtes-vous sûr de vouloir supprimer
    {% if review %}
    ce commentaire
    {% else %}
    la publication <br /> "<strong>{{ticket.title|title}}</strong>"
    {% endif %} ?
  </p>
  <div class="buttons">
    <form action="" method="post">
      {% csrf_token %}
      <button
        class="btn secondary-button"
        type="submit"
        aria-label="Confirmer la suppression"
      >
        Supprimer
      </button>
    </form>
    <a
      class="btn third-button"
      href="{% url 'home' %}"
      aria-label="Annuler la suppression et revenir à l'accueil"
    >
      Annuler
    </a>
  </div>
</div>
{% endblock %}
