{% extends 'base.html' %}
{% block body_class %}centered{% endblock %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'reviews/forms.css' %}" />
{% endblock %}

{% block content %}
<div id="thread" class="forms card">
  <h2>Thread</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ ticket_form.as_p }}
    {{ review_form.as_p }}
    <button
      class="btn secondary-button"
      type="submit"
      aria-label="Publier"
    >
    Publier
    </button>
  </form>
</div>
{% endblock %}
