{% extends 'base.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'reviews/tickets.css' %}" />
{% endblock %} {% block content %}
<div class="ticket-list">
  {% for ticket in tickets %}
  <div class="ticket-card secondary-card">
    <div class="ticket-card__header">
      <p>Posté par <strong>{{ ticket.user.username }}</strong></p>
      <p>{{ ticket.time_created }}</p>
    </div>
    <hr />
    <h3 class="ticket-card__title">{{ ticket.title|title }}</h3>
    <p class="ticket-card__review">Review</p>
    <div class="ticket-card__content">
      {% if ticket.image %}
      <img src="{{ ticket.image.url }}" alt="Image de {{ ticket.title }}" />
      {% endif %}
      <p>{{ ticket.description }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
