{% extends 'base.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'reviews/ticket-list.css' %}" />
{% endblock %} {% block content %}
<div class="ticket-list">
  {% if tickets %}
  {% for ticket in tickets %}
  <div class="secondary-card">

    {% include "includes/ticket_content.html" %}

    {% if ticket.review_set.exists %}
      {% include "includes/review_list.html" %}
    {% endif %}

  </div>
  {% endfor %}
  {% else %}
  <div class="card no-content">
    <p>Aucune publication pour le moment</p>
    <a class="btn secondary-button" href="{% url 'ticket_create' %}">
      Créer une publication
    </a>
  </div>
  {% endif %}
</div>
{% endblock %}