{% extends 'base.html' %}
{% block body_class %}centered{% endblock %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'reviews/css/forms.css' %}" />
{% endblock %}

{% block content %}
<div class="forms card">
  <h2>Post</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button
      class="btn secondary-button"
      type="submit"
      aria-label="{% if ticket %}Mettre à jour votre publication{% else %}Publier{% endif %}"
    >
      {% if ticket %}Mettre à jour{% else %}Publier{% endif %}
    </button>
  </form>
</div>
{% endblock %}
