{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'reviews/user-followers.css' %}" />
{% endblock %}

{% block content %}
<div id="follow" class="secondary-card">
  <section aria-labelledby="followers-section">
    <h2>Followers :</h2>
    {% if followers %}
    <ul>
      {% for follow in followers %}
      <li>{{ follow.user.username }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <p class="no-content">Personne ne vous suit pour le moment</p>
    {% endif %}
  </section>

  <section aria-labelledby="following-section">
    <h2>Suivi(e)s :</h2>
    {% if following %}
    <ul>
      {% for follow in following %}
      <div class="follow__delete">
        <li>{{ follow.followed_user.username }}</li>
        <form
          action="{% url 'user_followers_delete' follow_id=follow.id %}"
          method="post"
        >
          {% csrf_token %}
          <button
            type="submit"
            class="btn third-button"
            aria-label="Ne plus suivre {{ follow.followed_user.username }}"
          >
            Ne plus suivre
          </button>
        </form>
      </div>
      {% endfor %}
    </ul>
    {% else %}
    <p class="no-content">Aucun abonnement pour le moment</p>
    {% endif %}
  </section>

  <section aria-labelledby="follow-users-section">
    <h2>Utilisateurs :</h2>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button
        type="submit"
        class="btn secondary-button"
        aria-label="Ajouter un abonnement"
      >
        Suivre
      </button>
    </form>
  </section>
</div>
{% endblock %}
