#delete {
  width: 450px;
}

#delete h2 {
  color: var(--primary);
  margin-top: 20px;
}

#delete p {
  margin: 20px 0 32px 0;
  line-height: 20px;
}

#delete .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
