#ticket-list,
#ticket-review {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

#ticket-card hr {
  margin: 10px 0 20px 0;
}

.ticket-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
}

.ticket-card__header p:last-of-type {
  color: var(--secondary-foreground);
}

.ticket-card__title {
  font-size: 1.5em;
  margin-bottom: 12px;
}

.ticket-card__content {
  display: flex;
  gap: 20px;
}

.ticket-card__content--paragraph {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ticket-card__content img {
  width: 200px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  border-radius: 4px;
}

.ticket-card__review {
  display: block;
  text-align: end;
  margin: 14px 0 10px 0;
}

.ticket-card__button {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.ticket-card__button .btn {
  padding: 6px 14px;
  font-size: 0.8em;
}

.ticket-card__button .btn:first-of-type {
  background-color: var(--secondary-foreground);
}

.ticket-card__button .btn:first-of-type:hover {
  background-color: var(--placeholder);
}

#ticket-list .no-content {
  padding: 24px 0;
}

.no-content p {
  margin: 6px 0 26px 0;
}

.no-content__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.no-content__button a:first-of-type {
  width: 160px;
}

.no-content img {
  width: 80px;
}

#ticket-review h3 {
  margin-top: 10px;
}

.ticket-review__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ticket-review__header p:last-of-type {
  color: var(--secondary-foreground);
  margin-top: 4px;
}

.ticket-review__header--icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

#ticket-review img {
  width: 20px;
  cursor: pointer;
}

#ticket-review hr {
  margin: 4px 0 14px 0;
}

.ticket-review__title {
  display: flex;
  align-items: center;
  gap: 4px;
}

.ticket-review__content {
  margin: 6px 0;
}
