{% extends 'base.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'authentication/login.css' %}" />
{% endblock %} {% block content %}

<div class="login">
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button class="primary-button" type="submit">Se connecter</button>
  </form>
  <a class="link" href="{% url 'password_change' %}">Mot de passe oublié ?</a>
  <hr />
  <button class="secondary-button">
    <a href="{% url 'signup' %}">Créer un compte</a>
  </button>
</div>

{% endblock %}
