{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link
  rel="stylesheet"
  href="{% static 'authentication/password-change.css' %}"
/>
{% endblock %}

{% block content %}
<div id="password-change" class="card">
  <h2>Changez votre mot de passe</h2>
  <form
    method="post"
    aria-labelledby="password-change-form"
  >
    {% csrf_token %} {{ form.as_p }}
    <button
      class="btn primary-button"
      type="submit"
      aria-label="Valider votre nouveau mot de passe"
    >
      Valider
    </button>
  </form>
</div>
{% endblock %}
