{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'authentication/css/profile.css' %}" />
{% endblock %}

{% block content %}

{% if messages %}
<div class="card">
  <img
    src="{% static 'authentication/images/checked-icon.png' %}"
    alt="Icône de confirmation avec une coche"
  />
  {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
  {% endfor %}
</div>
{% endif %}

<div id="profile" class="secondary-card">
  <dl class="profile__info">
    <div>
      <dt><strong>Nom d'utilisateur : </strong></dt>
      <dd>{{ request.user.username }}</dd>
    </div>
    <div>
      <dt><strong>Nom : </strong></dt>
      <dd>{{ request.user.last_name|title }}</dd>
    </div>
    <div>
      <dt><strong>Prénom : </strong></dt>
      <dd>{{ request.user.first_name|title }}</dd>
    </div>
    <div>
      <dt><strong>Adresse e-mail : </strong></dt>
      <dd>{{ request.user.email }}</dd>
    </div>
  </dl>
  <a class="link" href="{% url 'password_change' %}"
    >Modifier son mot de passe</a
  >
  <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button
      class="btn primary-button"
      type="submit"
      aria-label="Se déconnecter du compte"
    >
      Déconnexion
    </button>
  </form>
</div>
{% endblock %}
