{% extends 'base.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'authentication/profile.css' %}" />
{% endblock %} {% block content %}

<div class="profile secondary-card">
  <p><strong>Nom d'utilisateur : </strong>{{ request.user.username }}</p>
  <p><strong>Nom : </strong>{{ request.user.last_name }}</p>
  <p><strong>Prénom : </strong>{{ request.user.first_name }}</p>
  <p><strong>Addresse e-mail : </strong>{{ request.user.email }}</p>
  <a class="link" href="{% url 'password_change' %}"
    >Modifier son mot de passe</a
  >
  <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button class="btn primary-button" type="submit">Déconnexion</button>
  </form>
</div>

{% endblock %}
