{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'authentication/signup.css' %}" />
{% endblock %}

{% block content %}
<div id="signup" class="card">
  <h2>Créer un compte</h2>
  <p>C'est simple et rapide.</p>
  <hr />
  <form
    method="post"
    aria-labelledby="signup-form"
  >
    {% csrf_token %} {{ form.as_p }}
    <button class="btn secondary-button" type="submit">S'inscrire</button>
  </form>
  <a class="link" href="{% url 'login' %}">Vous avez déjà un compte ?</a>
</div>
{% endblock %}
