.forms {
  width: 550px;
}

.forms h2 {
  color: var(--primary);
  font-size: 2.1em;
  margin: 20px 0;
}

.forms form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.forms p {
  width: 100%;
}

.forms input,
.forms textarea {
  width: 100%;
}

.forms input,
.forms select {
  height: 32px;
}

.forms select {
  width: 128px;
}

.forms textarea {
  resize: none;
  height: 240px;
  padding: 10px 16px;
}

.forms input[type="file"] {
  padding-top: 2px;
}

label[for="image-clear_id"] {
  display: inline-block;
  vertical-align: middle;
}

#image-clear_id {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 4px;
}

input[type="file"] {
  margin-top: 10px;
}

.forms .btn {
  margin: 14px 0 4px 0;
  width: 224px;
}

#thread textarea {
  resize: none;
  height: 144px;
  padding: 10px 16px;
}
