.ticket-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.ticket-card hr {
  margin: 10px 0 18px 0;
}

.ticket-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
}

.ticket-card__review {
  margin: 10px 0 20px 0;
}

.ticket-card__title {
  font-size: 1.5em;
}

.ticket-card__content {
  display: flex;
  gap: 20px;
}

.ticket-card__content img {
  width: 200px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  border-radius: 4px;
}

.ticket-card__content p {
  margin-top: 8px;
}

.ticket-card__button {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  margin-top: 14px;
}

.ticket-card__button .btn {
  padding: 6px 14px;
  font-size: 0.8em;
}

.ticket-list .card {
  padding-top: 24px;
  padding-bottom: 34px;
}

.ticket-list .no-content p {
  margin-bottom: 28px;
}
