.follow {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.follow h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.follow ul {
  margin-left: 24px;
}

.follow .no-content {
  color: var(--secondary-foreground);
  font-style: italic;
  margin-left: 12px;
}

.follow form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
}

.follow input {
  width: 240px;
  height: 32px;
}

.follow .secondary-button {
  font-size: 1em;
  padding: 0 20px;
  width: 240px;
  height: 32px;
}

.follow__delete {
  display: flex;
  align-items: center;
  gap: 20px;
}

.follow__delete .btn {
  padding: 6px 14px;
  font-size: 0.8em;
}
