.follow {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.follow h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.follow ul {
  margin-left: 24px;
}

.follow .no-content {
  color: var(--secondary-foreground);
  font-style: italic;
  margin-left: 12px;
}

.follow select {
  font-family: "Roboto", serif;
  font-size: 0.9em;
  border-radius: 4px;
  border: 1px solid var(--border);
  background-color: var(--background);
  width: 176px;
  padding: 4px 8px;
  margin-bottom: 20px;
}

.follow__delete {
  display: flex;
  align-items: center;
  gap: 20px;
}

.follow__delete .btn {
  padding: 6px 14px;
  font-size: 0.8em;
}

.follow .message {
  color: var(--error);
  margin-top: 16px;
}
