<div class="ticket-card">
  <div class="ticket-card__header">
    <p>Posté par <strong>{{ ticket.user.username }}</strong></p>
    <p>{{ ticket.time_created }}</p>
  </div>
  <hr />
  <h2 class="ticket-card__title">{{ ticket.title|title }}</h2>
  <div class="ticket-card__content">
    {% if ticket.image %}
    <img src="{{ ticket.image.url }}" alt="Image de {{ ticket.title }}" />
    {% endif %}
    <div class="ticket-card__content--paragraph">
      <p>{{ ticket.description|linebreaks }}</p>
    </div>
  </div>
  <a class="ticket-card__review" href="{% url 'ticket_content' ticket.id %}">
    {{ ticket.review_set.all|length }} commentaire{{ ticket.review_set.all|length|pluralize:"s" }}
  </a>
  <div class="ticket-card__button">
    <a class="btn" href="{% url 'review_create' ticket.id %}">Commenter</a>
    {% if request.user == ticket.user %}
    <a class="btn secondary-button" href="{% url 'ticket_update' ticket.id %}"
      >Modifier</a
    >
    <a class="btn third-button" href="{% url 'ticket_delete' ticket.id %}"
      >Supprimer</a
    >
    {% endif %}
  </div>
</div>
