{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'header.css' %}" />
{% endblock %}

{% block content %}
<header role="banner">
  <h1>
    <a href="{% url 'ticket_list' %}" aria-label="Retour à l'accueil LitRevu">LITRevu</a>
  </h1>
  {% if user.is_authenticated %}
  <nav aria-label="Navigation principale">
    <a
      href="{% url 'ticket_list' %}"
      class="{% if request.resolver_match.url_name == 'ticket_list' %}active{% endif %}"
      >
      Accueil
    </a>
    <a
      href="{% url 'ticket_create' %}"
      class="{% if request.resolver_match.url_name == 'ticket_create' %}active{% endif %}"
      >
      Créer un post
    </a>
    <a
      href="{% url 'user_posts' request.user.username %}"
      class="{% if request.resolver_match.url_name == 'user_posts' %}active{% endif %}"
      >
      Mes posts
    </a>
    <a
      href="{% url 'user_followers' request.user.username %}"
      class="{% if request.resolver_match.url_name == 'user_followers' %}active{% endif %}"
      >
      Abonnés
    </a>
    <a
      href="{% url 'profile' %}"
      class="{% if request.resolver_match.url_name == 'profile' %}active{% endif %}"
      >
      Profil
    </a>
  </nav>
  {% endif %}
</header>
{% endblock %}
