{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'header.css' %}" />
{% endblock %}

{% block content %}
<header role="banner">
  <h1>
    <a href="{% url 'home' %}" aria-label="Retour à l'accueil LitRevu">LITRevu</a>
  </h1>
  {% if user.is_authenticated %}
  <nav aria-label="Navigation principale">
    <a
      href="{% url 'home' %}"
      class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"
      >
      Accueil
    </a>
    <a
      href="{% url 'post_or_thread' %}"
      class="{% if request.resolver_match.url_name == 'post_or_thread' %}active{% endif %}"
      >
      Créer une publication
    </a>
    <a
      href="{% url 'user_tickets' %}"
      class="{% if request.resolver_match.url_name == 'user_tickets' %}active{% endif %}"
      >
      Mes posts
    </a>
    <a
      href="{% url 'user_followers' %}"
      class="{% if request.resolver_match.url_name == 'user_followers' %}active{% endif %}"
      >
      Abonnés
    </a>
    <a
      href="{% url 'profile' %}"
      class="{% if request.resolver_match.url_name == 'profile' %}active{% endif %}"
      >
      Profil
    </a>
  </nav>
  {% endif %}
</header>
{% endblock %}
