#profile .profile__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#profile .profile__info div {
  display: flex;
  align-items: center;
  gap: 6px;
}

#profile .primary-button {
  font-size: 1em;
}

#profile .link {
  margin: 20px 0;
}
